<tr id="<%= dom_id delivery_partner %>">
  <td><%= row_index %></td>
  <td>
    <%= delivery_partner.company_name %>
  </td>
  <td class="text-center">
    <%= link_to "Show this delivery partner", delivery_partner %>
  </td>
</tr>
