<div class="container-fluid">
  <h1>New delivery partner</h1>
  <%= render "form", delivery_partner: @delivery_partner %>
  <br>
  <div>
    <%= link_to "Back to delivery partners", delivery_partners_path %>
  </div>
</div>
