<div class="container-fluid">
  <h1>Editing delivery partner</h1>
  <%= render "form", shipment: @shipment %>
  <br>
  <div>
    <%= link_to "Show this shipment", @shipment %>
    <%= link_to "Back to shipments", shipments_path %>
  </div>
</div>
